.blogsPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 0 30px 0; }
  .blogsPage h1 {
    font-size: 24px; }
  .blogsPage .mainBlogsContainer {
    max-width: 1450px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .blogsPage .mainBlogsContainer .blogsContainer {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center; }
      .blogsPage .mainBlogsContainer .blogsContainer .blogCard {
        max-width: 1000px;
        border-radius: 5px;
        border: 1px solid var(--border);
        padding: 15px 15px;
        margin: 12px 10px 10px 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-grow: 2;
        cursor: pointer;
        overflow: hidden; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard:hover {
          border: 1px solid var(--google-primary-color);
          box-shadow: 0px 2px 0px rgba(var(--google-primary-color-rgb), 0.5); }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .imageSection img {
          height: 300px;
          border-radius: 5px;
          border: 1px solid var(--border); }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start; }
          .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p {
            font-size: 16px;
            padding: 0 15px;
            margin: 0; }
            .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(1) {
              font-size: 17px;
              font-weight: 600; }
            .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(2) {
              font-size: 14px;
              padding-bottom: 10px; }
            .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(3) {
              font-size: 20px;
              font-weight: 600;
              padding: 10px 15px; }
            .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(4) a {
              font-size: 16px; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList {
          padding: 16px 15px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: wrap; }
          .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList .blogCategory {
            padding: 5px 12px;
            margin: 5px 4px;
            font-size: 15px;
            border-radius: 100px;
            cursor: pointer;
            background-color: rgba(var(--google-primary-color-rgb), 0.9);
            color: var(--theme-color); }
            .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList .blogCategory:hover {
              background-color: rgba(var(--google-primary-color-rgb), 1); }

@media screen and (max-width: 1050px) {
  .blogsPage .mainBlogsContainer .blogsContainer .blogCard {
    flex-direction: column; }
    .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail {
      max-width: 500px; } }
@media screen and (max-width: 600px) {
  .blogsPage .mainBlogsContainer .blogsContainer .blogCard {
    flex-direction: column; }
    .blogsPage .mainBlogsContainer .blogsContainer .blogCard .imageSection img {
      width: 100%;
      height: auto; }
    .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail {
      max-width: 300px; }
      .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p {
        padding: 0 0; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(1) {
          font-size: 14px;
          font-weight: 600; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(2) {
          font-size: 12px;
          padding-bottom: 6px; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(3) {
          font-size: 18px;
          font-weight: 600;
          padding: 6px 0px; }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail p:nth-child(4) a {
          font-size: 14px; }
    .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList {
      padding: 10px 0px;
      padding-bottom: 0; }
      .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList .blogCategory {
        padding: 4px 10px;
        margin: 4px 3px;
        font-size: 12px;
        border-radius: 100px;
        cursor: pointer;
        background-color: rgba(var(--google-primary-color-rgb), 0.9); }
        .blogsPage .mainBlogsContainer .blogsContainer .blogCard .categoriesList .blogCategory:hover {
          background-color: rgba(var(--google-primary-color-rgb), 1); } }
@media screen and (max-width: 420px) {
  .blogsPage .mainBlogsContainer .blogsContainer .blogCard .blogDetail {
    min-width: 180px; } }

/*# sourceMappingURL=index.module.css.map */
